/* Reset Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styling */
body, html {
  font-family: "Arial", sans-serif;
  height: 100%;
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(to bottom, #eeeae2 50%, #c7a991 50%);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10%;
}
.header-container{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  align-items: flex-start;
  padding-left: 5%;
}
.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #644834;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.main-title {
  font-size:6rem;
  font-weight: 900;
  color: #2e2e2e;
  margin-bottom: 1rem;
  margin: 0;
  line-height: 1.2;
  letter-spacing: -0.03em;
}

.subtitle {
  font-size: 1.25rem;
  font-weight: 400;
  color: #644834;
  line-height: 1.4;
}

.scroll-button {
  color: #644834;
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute; /* Position it at the bottom */
  bottom: 5%; /* Slight margin from the bottom */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.scroll-button .arrow {
  font-size: 1.5rem;
  margin-right: 0.25rem;
}

.scroll-button:hover {
  background:none;
  transform: translateY(-5px);
}

.scroll-button:active {
  transform: translateY(0);
}

/* Animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

.scroll-button .arrow {
  animation: bounce 2s infinite;
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    padding: 0 5%;
    max-width: 100%; /* Allow more flexibility on smaller screens */
    gap: 0.75rem; /* Slightly reduce spacing */
  }

  .main-title {
    font-size: 3rem; /* Scale down for mobile */
  }

  .subtitle {
    font-size: 1rem;
  }

  .scroll-button {
    font-size: 0.9rem;
  }
}
